// layout of the home page //
.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
  margin: 0px;
  background-color: #20202B;
}

