<div class="github">

<div class="github-navbar">
  <div class="issues-tab">
    <p><%= "issues".upcase %></p>
  </div>
  <div class="pull-requests-tab">
    <p><%= "pull requests".upcase %></p>
  </div>
</div>

<%= 10.times do |githubcards| %>
  <div class="github-issue-card">
      <p id="issue-repo">Repo: GoogleChrome/myrepo</p>
    <p id="issue-number">Issue #: <%= rand(0..2000) %></p>
    <p id="issue-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>

<% end %>
</div>
