<div class="github">

<div class="github-navbar">
  <div class="issues-tab">
    <h4><%= "issues".upcase %></h4>
  </div>
  <div class=""pull-requests-tab">
    <h4><%= "pull requests".upcase %></h4>
  </div>
</div>

  <div class="github-issue-card">
      <p id="issue-repo">Repo: GoogleChrome/myrepo</p>
    <p id="issue-number">Issue #: <%= rand(0..2000) %></p>
    <p id="issue-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>

</div>
