<div class="github">

  <div class="github-issue-card">
    <p id="issue-number">Issue #: <%= rand(0..2000) %></p>
    <p id="issue-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p id="issue-repo">Repo: GoogleChrome/myrepo</p>
  </div>

</div>
