
<div class="hour">
  <div class="datetime">
    <h2><%= Time.now.strftime("%B %d, %Y")%></h2>
    <p><%= Time.now.strftime("%l:%M %p")%><p>
  </div>
</div>


<!-- .to_datetime.strftime('le %-d %b %Y à %I:%M %P')  -->
