
<div class="hour">
  <div class="time">
    <h2><%= Time.now.strftime("%l:%M")%><h2><p id="ampm"><%= Time.now.strftime("%p")%></p>
  </div>
  <div class="date">
    <p><%= Time.now.strftime("%B %d, %Y")%></p>
  </div>
  <div class="sentence">
    <p><i class="fas fa-question-circle"></i> Did you know you can add CUSTOM LINKS to display in this section?</p>
    <p>Open the SETTINGS panel and add the URLS of your favorites sites to 'CUSTOMER LINKS' textarea.</p>
    <p id="orange-sentence"><i class="fas fa-times-circle"></i> Got it! Don't show me this again.</p>
  </div>
</div>

