<div class="js-list-container">

  <div class="list">

    <div class="js-icon">
      <i class="fab fa-medium"></i>
    </div>

    <div class="js-history">
      <p>Algorithms: Insertion Sort in JavaScript Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
    </div>

    <div class="js-post-date">
      <p>2 days ago</p>
    </div>

  </div>

</div>
