<div class="js-list-container">

  <%= 10.times do |lists| %>
    <a href="https://medium.freecodecamp.org/these-are-the-best-javascript-chart-libraries-for-2019-29782f5e1dc2" target="_blank">
      <div class="list">
          <div class="js-icon">
            <i class="fab fa-medium"></i>
          </div>

          <div class="js-history">
            <p>These are the best JavaScript chart libraries for 2019 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
          </div>

          <div class="js-post-date">
            <p>2 days ago</p>
          </div>
      </div>
    </a>
  <% end %>

</div>
