<div class="left-navbar">

<div class="settings">
  <div class="square-settings">
    <i class="fas fa-wrench"></i>
  </div>
  <p><%="settings".upcase %></p>
</div>

<div class="gists">
  <div class="square-gists">
    <i class="fas fa-code"></i>
  </div>
  <p><%="gists".upcase %></p>
</div>

<div><p>YO</p></div>

<div><p>YO</p></div>

<div><p>YO</p></div>

<div><p>YO</p></div>

<div><p>YO</p></div>


</div>
