<div class="left-navbar">

<div class="icon-left-navbar">
  <div class="square-settings">
    <i class="fas fa-wrench"></i>
  </div>
</div>

<div></div>

<div></div>

<div></div>

<div></div>

<div></div>

<div></div>


</div>
