<div class="reddit">
  <div class="reddit-card">
    <p id="post">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="posted">
      <p id="posted-by">Posted by: &nbsp;</p><p id="author"> u/a_great_user</p>
    </div>
    <p id="score">Redit score: <%= rand(0..500) %></p>
    <a href="https://chingu.io/" target="_blank">Link to comments</a>
  </div>
</div>
