<div class="reddit">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <p>Posted by: u/a_great_user</p>
  <p>Redit score: <%= rand(0..500) %></p>
  <a href="">Link to comments</a>
</div>
