<div class="top-navbar">

      <div class="icon">
        <p class="blue"><i class="fab fa-reddit-alien"></i> <%="popular on r/javascript".upcase %></p>
      </div>

      <div class="icon">
        <p class="blue"><i class="far fa-clock"></i> <%="relevant javascript history".upcase %></p>
      </div>

      <div class="icon">
        <p class="blue"><i class="fab fa-github-alt"></i> <%="github issues history".upcase %></p>
        <p id="grey">switch to gitlab</p>
      </div>
    </div>
