.github {
  grid-column: 8 / span 2;
  grid-row: 2 / span 5;
  overflow-y: scroll;
}

.github-navbar {
  display: flex;
  justify-content: space-around;
  padding: 0 60px 20px 60px;
  font-size: 14px;
  background-color: #20202B;
  position: sticky;
  top: 0;
}

.issues-tab {
  display:flex;
  flex-direction: column;
  text-align: center;

  #issues-arrow {
    color: #FFFF82;
    display: block;
  }
}

.pull-requests-tab {
  display:flex;
  flex-direction: column;
  text-align: center;

  #pull-requests-arrow {
    color: #F564A9;
    display: none;
  }
}

a:link, a:visited {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    opacity: 1;
  }
}

.tab-underlined.active, .tab-underlined {
  cursor: pointer;
  text-decoration: none;
}

.tab-underlined.active {
  color: #FFFF82;

  &:hover {
    color: #FFFF82;
  }
}

.tab-underlined {
  color: #F564A9;
}

.github-issue-card {
  font-family: 'Inconsolata', monospace;
  margin: 0 15px 40px 0;
  padding: 0 0 0 10px;
  border-left: 2px solid #777AA3;
  font-size: 14px;
  display: block;
}

#issue-repo, #pr-repo {
  color: #777AA3;
  margin-bottom: 2px;
}

#issue-number {
  color: #FFFF82;
  margin-bottom: 2px;
}

#issue-description, #pr-description {
  color: white;
  margin-bottom: 2px;
}

#pr-number {
  color: #F564A9;
  margin-bottom: 2px;
}

.github-pull-request-card {
  font-family: 'Inconsolata', monospace;
  margin: 0 15px 40px 0;
  padding: 0 0 0 10px;
  border-left: 2px solid #777AA3;
  font-size: 14px;
  display: none;
}
