.hour {
  grid-column: 4 / span 4;
  grid-row: 4 / span 3;
  text-align: center;
  padding: 50px;
}

@media(max-width: 768px) {
  .hour {
    border: 2px solid red;
    grid-column: 3 / span 12;
    grid-row: 25;
    padding: 0px;
    margin-right: 20px;
    .time > h2 {
      font-size: 50px;
      #ampm {
        font-size: 20px;
      }
    }
  }
}

.time {
  display: flex;
  align-items:flex-end;
  justify-content: center;
  h2 {
    color: #777AA3;
    font-size: 100px;
  }

  p {
    color: #777AA3;
    font-size: 18px;
    font-weight: lighter;
  }
}

#ampm {
  font-size: 30px;
  font-weight: bold;
}

.date {
  color: #777AA3;
}

.sentence {
  color: #777AA3;
  font-size: 10px;
  p {
    margin-bottom: 0px;
  }
}

.fas.fa-question-circle {
  color: #FFCD7C;
  font-size: 12px;
}

#orange-sentence {
  color: #FFCD7C;
  font-size: 10px;
  font-weight: bold;
}
