.js-list-container {
  border-bottom: 1px solid #777AA3;
  grid-column: 4 / span 4;
  grid-row: 2 / span 2;
  margin-right: 25px;
  overflow-y: scroll;
}

.list {
  display: flex;
  align-items: flex-start;
  }

.js-icon {
  .fab.fa-medium {
    font-size: 20px;
    color: white;
    padding-right: 5px;
  }
}

.js-history {
  flex: 1;
  width: 1px;
  p {
    color: #777AA3;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.js-post-date {
  p {
    color: grey;
    padding-left: 100px;
  }
}
