.left-navbar {
  border: 2px solid red;
  grid-column: 1;
  grid-row: 1 / span 6;
  padding-top: 20px;

}

.settings {
  display: flex;
  padding: 10%;
  p {
    padding-left: 10px;
    color: #64DDF6;
    font-size: 14px;
  }

}

.square-settings {
  height: 25%;
  width: 25%;
  background-color: #64DDF6;
  border-radius: 10%;
  text-align: center;
}

