.reddit {
  grid-column: 2 / span 2;
  grid-row: 2 / span 5;
  overflow-y: scroll;
  // display: flex;
  // flex-direction: column;
  justify-content: space-between;
}

.reddit-card {
  margin: 0 0 40px 0;
  padding: 0 0 0 10px;
  border-left: 2px solid #777AA3;
  font-size: 14px;
}

#post {
  color: white;
  margin-bottom: 2px;
}

.posted {
  display: flex;
}

#posted-by {
  color: #64DDF6;
  margin-bottom: 2px;
}

#author {
  color: #FFFF82;
  margin-bottom: 2px;
}

#score {
  color: #777AA3;
  margin-bottom: 2px;
}

a:link, a:visited {
    color: #F564A9;
    text-decoration: underline;
    margin-bottom: 2px;
  &:hover {
    color: #F564A9;
    opacity: 0.9;
    text-decoration: none;
  }
}
