.top-navbar {
  font-family: 'Nunito', sans-serif;
  grid-column: 2 / span 8;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding-top: 50px;
}

@media(max-width: 768px) {
  .top-navbar {
    grid-column: 3 / span 10;
    grid-row: 1;
    padding: 0px;
    .blue {
      font-size: 15px;
      text-align: center;
    }
  }
}

.icon {
  font-size: 16px;
  color: #64DDF6;

  p {
    margin-bottom: 0px;
  }
}

#grey {
  font-family: 'Inconsolata', monospace;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: #777AA3;
  opacity: 0.8;
}
